
@{
    ViewBag.Title = "StudentView";
}

<h2>StudentView</h2>
Name        :  @ViewBag.Name<br />
Address     :  @ViewBag.Address<br />
Email       :  @ViewBag.Email<br />
PhoneNumber :  @ViewBag.PhoneNumber<br />
CollegeName :  @ViewBag.College<br />
Department  :  @ViewBag.Department<br />
UserName    :  @ViewBag.UserName<br />
PresentTime :  @ViewBag.presentTime

